<div class="user-form-dialog__header" mat-dialog-title>
	<h2 class="user-form-dialog__title">
		{{ titleKey | translate }}
	</h2>
	<button
		mat-icon-button
		type="button"
		mat-dialog-close
		[disabled]="submitting()"
		[attr.aria-label]="'common.close' | translate"
	>
		<mat-icon>close</mat-icon>
	</button>
</div>

<mat-dialog-content>
	<div class="user-form-dialog__form">
		<div class="user-form-dialog__field">
			<mat-form-field
				appearance="outline"
				subscriptSizing="dynamic"
				[class.user-form-dialog__field--invalid]="showLoginError()"
			>
				<mat-label>
					{{ 'usersPage.userFormDialog.login' | translate }}
				</mat-label>
				<input
					matInput
					required
					autocomplete="username"
					[ngModel]="login()"
					(ngModelChange)="login.set($event)"
					(blur)="loginTouched.set(true)"
				/>
			</mat-form-field>
			<p
				class="user-form-dialog__field-error"
				[class.user-form-dialog__field-error--visible]="showLoginError()"
			>
				{{ showLoginError() ? (loginErrorKey()! | translate) : '\u00A0' }}
			</p>
		</div>

		<div class="user-form-dialog__field">
			<mat-form-field
				appearance="outline"
				subscriptSizing="dynamic"
				[class.user-form-dialog__field--invalid]="showPasswordError()"
			>
				<mat-label>
					{{ 'usersPage.userFormDialog.password' | translate }}
				</mat-label>
				<input
					matInput
					type="password"
					autocomplete="new-password"
					[required]="!isEdit"
					[ngModel]="password()"
					(ngModelChange)="password.set($event)"
					(blur)="passwordTouched.set(true)"
				/>
			</mat-form-field>
			<p
				class="user-form-dialog__field-error"
				[class.user-form-dialog__field-error--visible]="showPasswordError()"
			>
				{{ showPasswordError() ? (passwordErrorKey()! | translate) : '\u00A0' }}
			</p>
		</div>

		<div class="user-form-dialog__field">
			<mat-form-field appearance="outline" subscriptSizing="dynamic">
				<mat-label>
					{{ 'usersPage.userFormDialog.role' | translate }}
				</mat-label>
				<mat-select [ngModel]="role()" (ngModelChange)="role.set($event)">
					@for (option of roles; track option) {
						<mat-option [value]="option">
							{{ 'usersPage.roles.' + option | translate }}
						</mat-option>
					}
				</mat-select>
			</mat-form-field>
			<p class="user-form-dialog__field-error" aria-hidden="true">&nbsp;</p>
		</div>

		@if (submitError(); as errorKey) {
			<p class="user-form-dialog__submit-error">
				{{ errorKey | translate }}
			</p>
		}
	</div>
</mat-dialog-content>

<mat-dialog-actions align="end">
	<button mat-stroked-button mat-dialog-close [disabled]="submitting()">
		{{ 'common.cancel' | translate }}
	</button>
	<button
		mat-flat-button
		color="primary"
		[disabled]="!formValid()"
		(click)="submit()"
	>
		@if (submitting()) {
			<mat-spinner diameter="20" />
		} @else {
			{{
				(isEdit
					? 'usersPage.userFormDialog.editSubmit'
					: 'usersPage.userFormDialog.createSubmit'
				) | translate
			}}
		}
	</button>
</mat-dialog-actions>
