<div
	class="users-list"
	[class.users-list_compact]="isCompact()"
	[class.gap-3]="isCompact()"
>
	@if (isCompact()) {
		@for (user of users(); track user.id) {
			<article class="users-list__card gap-3 p-4 rounded-xl">
				<div class="users-list__card-header gap-3">
					<app-thumb [src]="user.avatar" [alt]="user.login" icon="person" />
					<h3 class="users-list__card-title">{{ user.login }}</h3>
					<app-badge
						[highlighted]="user.role === 'admin'"
						[label]="'usersPage.roles.' + user.role | translate"
						minWidth="12ch"
					/>
				</div>

				<app-row-actions
					alignEnd
					(edit)="onEdit(user)"
					(remove)="onRemove(user)"
				/>
			</article>
		}
	} @else {
		<table mat-table [dataSource]="users()" class="users-list__table">
			<ng-container matColumnDef="avatar">
				<th mat-header-cell *matHeaderCellDef>
					{{ 'usersPage.columns.avatar' | translate }}
				</th>
				<td mat-cell *matCellDef="let user">
					<app-thumb [src]="user.avatar" [alt]="user.login" icon="person" />
				</td>
			</ng-container>

			<ng-container matColumnDef="login">
				<th mat-header-cell *matHeaderCellDef>
					{{ 'usersPage.columns.login' | translate }}
				</th>
				<td mat-cell *matCellDef="let user">{{ user.login }}</td>
			</ng-container>

			<ng-container matColumnDef="role">
				<th mat-header-cell *matHeaderCellDef>
					{{ 'usersPage.columns.role' | translate }}
				</th>
				<td mat-cell *matCellDef="let user">
					<app-badge
						[highlighted]="user.role === 'admin'"
						[label]="'usersPage.roles.' + user.role | translate"
						minWidth="12ch"
					/>
				</td>
			</ng-container>

			<ng-container matColumnDef="actions">
				<th mat-header-cell *matHeaderCellDef></th>
				<td mat-cell *matCellDef="let user">
					<app-row-actions (edit)="onEdit(user)" (remove)="onRemove(user)" />
				</td>
			</ng-container>

			<tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
			<tr mat-row *matRowDef="let _; columns: displayedColumns"></tr>
		</table>
	}
</div>
