:host {
	display: contents;
}

.suppliers-page {
	display: flex;
	flex: 1;
	flex-direction: column;
	min-height: 100%;
	width: 100%;

	&__header {
		align-items: center;
		display: flex;
		justify-content: space-between;
		margin-bottom: 16px;
	}

	&__loader {
		align-items: center;
		display: flex;
		flex: 1;
		justify-content: center;
		width: 100%;
	}

	&__empty {
		align-items: center;
		display: flex;
		flex: 1;
		flex-direction: column;
		font-size: 32px;
		justify-content: center;
		width: 100%;

		&-icon {
			font-size: 80px;
			height: 80px;
			width: 80px;
		}
	}
}
