.auth-page {
	align-items: center;
	display: flex;
	justify-content: center;
	min-height: 100vh;

	&__card {
		max-width: 400px;
		width: 100%;
	}

	&__form {
		display: flex;
		flex-direction: column;
		width: 100%;
	}
}
