@if (isCompact()) {
	<button
		mat-icon-button
		type="button"
		[matMenuTriggerFor]="navMenu"
		[attr.aria-label]="'common.menu' | translate"
	>
		<mat-icon>menu</mat-icon>
	</button>

	<mat-menu #navMenu="matMenu">
		@for (menu of menuItems; track menu.name) {
			<button
				mat-menu-item
				[routerLink]="menu.route"
				[class.main-menu__item--active]="isActive(menu.route)"
			>
				{{ menu.name | translate }}
			</button>
		}
	</mat-menu>
} @else {
	<nav class="main-menu gap-2">
		@for (menu of menuItems; track menu.name) {
			<button
				mat-button
				[routerLink]="menu.route"
				[color]="isActive(menu.route) ? 'primary' : undefined"
			>
				{{ menu.name | translate }}
			</button>
		}
	</nav>
}
