.main-menu {
	display: flex;
	align-items: center;

	&__item_active {
		--mat-menu-item-label-text-color: var(--mat-sys-primary);
	}

	.main-menu {
		&__item_active {
			--mat-button-text-label-text-color: var(--mat-sys-primary);
		}
	}
}
