<nav class="main-menu gap-2">
	@if (isCompact()) {
		<button mat-icon-button type="button" [matMenuTriggerFor]="navMenu">
			<mat-icon>menu</mat-icon>
		</button>

		<mat-menu #navMenu="matMenu">
			@for (menu of menuItems; track menu.route) {
				<button
					mat-menu-item
					class="main-menu__item"
					[routerLink]="menu.route"
					[routerLinkActive]="'main-menu__item_active'"
				>
					{{ menu.name | translate }}
				</button>
			}
		</mat-menu>
	} @else {
		@for (menu of menuItems; track menu.route) {
			<button
				mat-button
				class="main-menu__item"
				[routerLink]="menu.route"
				[routerLinkActive]="'main-menu__item_active'"
			>
				{{ menu.name | translate }}
			</button>
		}
	}
</nav>
