<h2 mat-dialog-title>
	{{ 'suppliersPage.addSupplierDialog.title' | translate }}
</h2>

<mat-dialog-content>
	<div class="add-supplier-dialog__form">
		<mat-form-field appearance="outline">
			<mat-label>
				{{ 'suppliersPage.addSupplierDialog.name' | translate }}
			</mat-label>
			<input matInput [(ngModel)]="name" />
		</mat-form-field>

		<mat-form-field appearance="outline">
			<mat-label>
				{{ 'suppliersPage.addSupplierDialog.code' | translate }}
			</mat-label>
			<input matInput [(ngModel)]="code" />
		</mat-form-field>

		<mat-form-field appearance="outline">
			<mat-label>
				{{ 'suppliersPage.addSupplierDialog.apiUrl' | translate }}
			</mat-label>
			<input matInput [(ngModel)]="apiUrl" />
		</mat-form-field>

		<mat-checkbox [(ngModel)]="isActive">
			{{ 'suppliersPage.addSupplierDialog.isActive' | translate }}
		</mat-checkbox>

		<div class="add-supplier-dialog__logo">
			<div class="add-supplier-dialog__logo-label">
				{{ 'suppliersPage.addSupplierDialog.logo' | translate }}
			</div>

			<div class="add-supplier-dialog__logo-row">
				@if (logoPreviewUrl(); as previewUrl) {
					<img
						class="add-supplier-dialog__logo-preview"
						[src]="previewUrl"
						alt=""
					/>
				} @else {
					<div class="add-supplier-dialog__logo-placeholder">
						<mat-icon>image</mat-icon>
					</div>
				}

				<div class="add-supplier-dialog__logo-actions">
					<button
						mat-stroked-button
						type="button"
						[disabled]="submitting()"
						(click)="logoInput.click()"
					>
						<mat-icon>upload</mat-icon>
						{{ 'suppliersPage.addSupplierDialog.logoChoose' | translate }}
					</button>

					@if (logoFile()) {
						<button
							mat-button
							type="button"
							[disabled]="submitting()"
							(click)="clearLogo()"
						>
							{{ 'suppliersPage.addSupplierDialog.logoClear' | translate }}
						</button>
					}

					@if (logoFile(); as file) {
						<span class="add-supplier-dialog__logo-name">
							{{ file.name }}
						</span>
					}
				</div>
			</div>

			<input
				#logoInput
				class="add-supplier-dialog__logo-input"
				type="file"
				[accept]="acceptedLogoTypes"
				(change)="onLogoSelected($event)"
			/>

			@if (logoError(); as errorKey) {
				<p class="add-supplier-dialog__logo-error">
					{{ errorKey | translate }}
				</p>
			}

			<p class="add-supplier-dialog__logo-hint">
				{{ 'suppliersPage.addSupplierDialog.logoHint' | translate }}
			</p>
		</div>
	</div>
</mat-dialog-content>

<mat-dialog-actions align="end">
	<button mat-button mat-dialog-close [disabled]="submitting()">
		{{ 'common.cancel' | translate }}
	</button>
	<button
		mat-flat-button
		color="primary"
		[disabled]="!formValid()"
		(click)="submit()"
	>
		@if (submitting()) {
			<mat-spinner diameter="20" />
		} @else {
			{{ 'common.save' | translate }}
		}
	</button>
</mat-dialog-actions>
