<app-dialog-shell
	class="supplier-form-dialog"
	[titleKey]="titleKey"
	[submitting]="submitting()"
	[primaryLabelKey]="
		isEdit
			? 'suppliersPage.supplierFormDialog.editSubmit'
			: 'suppliersPage.supplierFormDialog.createSubmit'
	"
	[primaryDisabled]="!formValid()"
	(primaryClick)="submit()"
>
	<div class="supplier-form-dialog__form gap-2 pt-2">
		<div class="supplier-form-dialog__field gap-1">
			<mat-form-field appearance="outline" subscriptSizing="dynamic">
				<mat-label>
					{{ 'suppliersPage.supplierFormDialog.name' | translate }}
				</mat-label>
				<input
					matInput
					required
					[ngModel]="name()"
					(ngModelChange)="name.set($event)"
					(blur)="nameTouched.set(true)"
				/>
			</mat-form-field>
			<p
				class="supplier-form-dialog__field-error"
				[class.supplier-form-dialog__field-error_visible]="showNameError()"
			>
				{{ showNameError() ? (nameErrorKey()! | translate) : '' }}
			</p>
		</div>

		<div class="supplier-form-dialog__field gap-1">
			<mat-form-field appearance="outline" subscriptSizing="dynamic">
				<mat-label>
					{{ 'suppliersPage.supplierFormDialog.apiUrl' | translate }}
				</mat-label>
				<input
					matInput
					type="url"
					required
					[ngModel]="apiUrl()"
					(ngModelChange)="apiUrl.set($event)"
					(blur)="apiUrlTouched.set(true)"
				/>
			</mat-form-field>
			<p
				class="supplier-form-dialog__field-error"
				[class.supplier-form-dialog__field-error_visible]="showApiUrlError()"
			>
				{{ showApiUrlError() ? (apiUrlErrorKey()! | translate) : '' }}
			</p>
		</div>

		<div class="supplier-form-dialog__field">
			<div class="supplier-form-dialog__meta gap-4 pb-4">
				<mat-form-field
					class="supplier-form-dialog__code"
					appearance="outline"
					subscriptSizing="dynamic"
				>
					<mat-label>
						{{ 'suppliersPage.supplierFormDialog.code' | translate }}
					</mat-label>
					<input
						matInput
						[ngModel]="code()"
						(ngModelChange)="code.set($event)"
					/>
				</mat-form-field>

				<mat-checkbox
					[ngModel]="isActive()"
					(ngModelChange)="isActive.set($event)"
				>
					{{ 'suppliersPage.supplierFormDialog.isActive' | translate }}
				</mat-checkbox>
			</div>
		</div>

		<div
			class="supplier-form-dialog__logo gap-2"
			[class.supplier-form-dialog__logo_dragging]="logoDragging()"
		>
			<div>
				{{ 'suppliersPage.supplierFormDialog.logo' | translate }}
			</div>

			<div
				class="supplier-form-dialog__logo-dropzone gap-2 rounded-xl px-4 py-5 min-h-37"
				(click)="openLogoPicker()"
				(dragenter)="onLogoDragEnter($event)"
				(dragover)="onLogoDragOver($event)"
				(dragleave)="onLogoDragLeave($event)"
				(drop)="onLogoDrop($event)"
			>
				@if (displayLogo(); as previewUrl) {
					<div class="supplier-form-dialog__logo-thumb">
						<img
							class="supplier-form-dialog__logo-preview w-20 h-20 rounded-lg"
							[src]="previewUrl"
							alt="logo"
						/>
						<button
							mat-icon-button
							type="button"
							class="supplier-form-dialog__logo-clear w-7! h-7!"
							[disabled]="submitting()"
							(click)="clearLogo($event)"
						>
							<mat-icon>close</mat-icon>
						</button>
					</div>
					<span class="supplier-form-dialog__logo-hint">
						{{ 'suppliersPage.supplierFormDialog.logoReplaceHint' | translate }}
					</span>
				} @else {
					<mat-icon
						class="supplier-form-dialog__logo-icon text-5xl! w-12! h-12!"
					>
						cloud_upload
					</mat-icon>
					<span class="supplier-form-dialog__logo-hint">
						{{ 'suppliersPage.supplierFormDialog.logoHint' | translate }}
					</span>
					<span class="supplier-form-dialog__logo-formats">
						{{ 'suppliersPage.supplierFormDialog.logoFormats' | translate }}
					</span>
				}
			</div>

			<input
				#logoInput
				class="supplier-form-dialog__logo-input"
				type="file"
				[accept]="acceptedLogoTypes"
				(change)="onLogoSelected($event)"
			/>

			@if (logoError(); as errorKey) {
				<p class="supplier-form-dialog__logo-error">
					{{ errorKey | translate }}
				</p>
			}
		</div>
	</div>
</app-dialog-shell>
