@use '@angular/material' as mat;
@tailwind base;
@tailwind components;
@tailwind utilities;

html {
	height: 100%;

	@include mat.theme(
		(
			color: (
				primary: mat.$azure-palette,
				tertiary: mat.$blue-palette,
			),
			typography: Roboto,
			density: 0,
		)
	);
}

body {
	background-color: var(--mat-sys-surface);
	color: var(--mat-sys-on-surface);
	color-scheme: light;
	font: var(--mat-sys-body-medium);
	height: 100%;
	margin: 0;
}
