@import url('https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:wght@400..700&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
	color: theme('colors.noble-black.100');
	background-color: theme('colors.noble-black.700');
	font-synthesis: none;
	text-rendering: optimizelegibility;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

body {
	display: flex;
	min-width: 640px;
	min-height: 100vh;
	margin: 0;
	place-items: center;
}

#app {
	max-width: 1280px;
	margin: 0 auto;
	padding: 2rem;
	text-align: center;
}
