@use '@angular/material' as mat;
@use 'sass:map';

$common-theme: (
	color: (
		primary: mat.$azure-palette,
		tertiary: mat.$blue-palette,
	),
	typography: roboto,
	density: 0,
);

@function create-theme($type) {
	@return map.merge(
		$common-theme,
		(
			color: map.merge(
					map.get($common-theme, color),
					(
						theme-type: $type,
					)
				),
		)
	);
}

html {
	@include mat.theme(create-theme(light));
}

html.dark-theme {
	@include mat.theme(create-theme(dark));
}
