@use '@angular/material' as mat;
@use 'sass:map';

$common-theme: (
	color: (
		primary: mat.$azure-palette,
		tertiary: mat.$blue-palette,
	),
	typography: roboto,
	density: 0,
);

@function create-theme($type) {
	@return map.merge(
		$common-theme,
		(
			color: map.merge(
					map.get($common-theme, color),
					(
						theme-type: $type,
					)
				),
		)
	);
}

html {
	@include mat.theme(create-theme(light));
}

html.dark-theme {
	@include mat.theme(create-theme(dark));
}

body {
	background-color: var(--mat-sys-background);
	color: var(--mat-sys-on-background);
	margin: 0;
	min-width: 320px;
	overflow: hidden;
}

* {
	scrollbar-width: thin;
	scrollbar-color: color-mix(
			in srgb,
			var(--mat-sys-on-surface) 35%,
			transparent
		)
		transparent;
}

::-webkit-scrollbar {
	width: 8px;
	height: 8px;
}

::-webkit-scrollbar-track {
	background: transparent;
}

::-webkit-scrollbar-thumb {
	background-color: color-mix(
		in srgb,
		var(--mat-sys-on-surface) 35%,
		transparent
	);
	border-radius: 8px;
}

::-webkit-scrollbar-thumb:hover {
	background-color: color-mix(
		in srgb,
		var(--mat-sys-on-surface) 50%,
		transparent
	);
}

.cdk-overlay-pane.mat-mdc-dialog-panel {
	--mat-dialog-container-min-width: 90vw;
	--mat-dialog-container-max-width: 90vw;
	--mat-dialog-with-actions-content-padding: 0 24px 8px;
	--mat-dialog-subhead-size: 20px;

	@media (width > 1024px) {
		--mat-dialog-container-min-width: 640px;
		--mat-dialog-container-max-width: 640px;
	}
}
